In [1]:
import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os 
import psycopg

# подгружаем .env
load_dotenv()

True

In [2]:
connection = {"sslmode": "require", "target_session_attrs": "read-write"}
postgres_credentials = {
    "host": os.getenv("DB_DESTINATION_HOST"),
    "port": os.getenv("DB_DESTINATION_PORT"),
    "dbname": os.getenv("DB_DESTINATION_NAME"),
    "user": os.getenv("DB_DESTINATION_USER"),
    "password": os.getenv("DB_DESTINATION_PASSWORD"),
}

# Create a connection string
connection_string = (
    f"postgresql://{postgres_credentials['user']}:{postgres_credentials['password']}"
    f"@{postgres_credentials['host']}:{postgres_credentials['port']}/{postgres_credentials['dbname']}"
)

# Create a SQLAlchemy engine
engine = create_engine(connection_string)

In [4]:
def upload(df, TABLE_NAME):
    try:
        df.to_sql(TABLE_NAME, engine, if_exists='replace', index=False)
        print(f"Data loaded successfully into {TABLE_NAME}")
    except Exception as e:
        print(f"An error occurred while loading data: {e}")

In [17]:
def load(TABLE_NAME):
    connection.update(postgres_credentials)
    with psycopg.connect(**connection) as conn:
        with conn.cursor() as cur:
            cur.execute(f"SELECT * FROM {TABLE_NAME}")
            data = cur.fetchall()
            columns = [col[0] for col in cur.description]
    df = pd.DataFrame(data, columns=columns)

    return df

In [27]:
upload(pd.read_csv("/home/mle-user/mle_projects/mle-pr-final/data/raw/item_properties_part2.csv"),"item_properties_part2")

Data loaded successfully into item_properties_part2

In [24]:
category_tree = pd.read_csv("/home/mle-user/mle_projects/mle-pr-final/data/raw/category_tree.csv")

In [25]:
category_tree

      categoryid  parentid
0           1016     213.0
1            809     169.0
2            570       9.0
3           1691     885.0
4            536    1691.0
...          ...       ...
1664          49    1125.0
1665        1112     630.0
1666        1336     745.0
1667         689     207.0
1668         761     395.0

[1669 rows x 2 columns]